.site-footer{
  background-color: $color-theme-lightest;
  border-top: 1px solid $color-border-dark;
  display: flex;
  flex: none;
  justify-content: center;
  padding: $spacing-l $spacing-m;
  width: 100vw;
}

.site-footer__container{
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  width: 980px;
}
