h1,h2,h3,h4,h5,h6{
  color: $color-font-darkest;
  font-family: $font-stack-headings;

  + h1, + h2, + h3, + h4, + h5, + h6, + img{
    margin-top: $spacing-s;
  }

  + p{
    margin-top: $spacing-xs;
  }
}

h1{
  font-size: 2em;
}

h2{
  font-size: 1.8em;
}

h3{
  font-size: 1.6em;
}

h4{
  font-size: 1.2em;
}

h5{
  font-size: 1em;
}

h6{
  font-size: 1em;
}

p{
  line-height: 1.6em;
  + h1, + h2, + h3, + h4, + h5, + h6, + img{
    margin-top: $spacing-m;
  }
}

p + p{
  margin-top: $spacing-s;
}

hr{
  background-color: $color-border-dark;
  border: 0;
  display: inline-block;
  height: 1px;
  margin: $spacing-m 0;
  width: 100%;
}
